h1 {
  font-size: 24px;
  font-family: Playfair Display;
}

h2 {
  color: var(--gray-1, #333);
  font-family: Playfair Display;
  font-size: 18px;
}

h3 {
  color: var(--gray-1, #333);
  font-family: Playfair Display;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

img {
  width: 100%;
}

p {
  color: var(--gray-2, #4F4F4F);
  font-size: 12px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  display: flex;
  font-family: Montserrat;
  gap: 40px;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

footer {
  color: #BDBDBD;
  text-align: center;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;
}

.header-description {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  align-items: flex-start;
}

.dots-image {
  width: 15px;
  margin-top: 4px;
}

.yields {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Montserrat;
}

.sub-header {
  font-family: Montserrat;
  color: var(--gray-4, #BDBDBD);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.servings {
  color: var(--orange, #F2994A);
  font-size: 13px;
}

.recipe-description {
  margin-top: 25px;
}

.ingredients-graham-cracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.ingredients-cheesecake {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.ingredients-graham-cracker div {
  display: flex;
  align-items: flex-start;
}

.ingredients-cheesecake div {
  display: flex;
  align-items: flex-start;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.instructions div {
  display: flex;
  gap: 15px;
}

.instructions-number {
  flex-shrink: 0;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background: var(--orange, #F2994A);
  color: #FFF;
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 700;
}

.instructions-text {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.source {
  color: var(--gray-4, #BDBDBD);
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  margin-top: 30px;
}

.material-icons {

}

.material-icons.orange { color: #F2994A; }

@media only screen and (min-width: 768px) {
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
    line-height: 1.5;
  }

  h1 {
    font-size: 42px;
    margin-bottom: 10px;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  .yields {
    margin-bottom: 35px;
    justify-content: center;
  }

  .header-description {
    max-width: 63ch;
    margin-bottom: 35px;
  }

  .recipe-description {
    width: 130px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 12px;
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  }

  .description-and-ingredients {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .ingredients {
    max-width: 55ch;
  }

  .instructions {
    max-width: 70ch;
    gap: 25px;
  }
}